.galeria {
  padding: 40px 20px;
}

.galeria h2 {
  text-align: center;
  margin-bottom: 25px;
}

.grid-galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 15px;
}

.grid-galeria img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
  display: block;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.grid-galeria img:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

h1, h2 {
  text-align: center;
  color: rgb(255, 255, 255);
}
.body-style-index {
 background-color: rgb(252, 252, 252);
 font-family: Georgia, 'Times New Roman', Times, serif;
}
.body-style-index ul {
    list-style: none;
    padding-left: 0;
}

.body-style-index li {
    margin-bottom: 12px;
    text-align: center;
    color: rgb(165, 164, 164);
}

.body-style-index a {
    text-decoration: none;
    color: rgb(153, 153, 153);
    font-size: 20px;
    transition: 0.3s;
}

.body-style-index a:hover {
    color: #ffffff;
    padding-left: 5px;
}

.body-style-index {
    background:
        linear-gradient(rgba(0, 0, 0, 0.815), rgba(0, 0, 0, 0.87)),
        url(../assets/jpg/puerto-genova-emigracion-italiana-america-1-1024x665.png);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.titulo-principal {
  font-size: 50px;
  color: white;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}